@font-face {
    font-family:'genesis_head_light';
    src: url(../font/GenesisSansHeadKRLight.99903da.woff2);}

@font-face {
    font-family:'genesis_head_regular';
    src: url(../font/GenesisSansHeadKRRegular.0c3d379.woff2);}

@font-face {
    font-family:'genesis_text';
    src: url(../font/GenesisSansTextKRRegular.a42a31c.woff2);}